<div class="nav-collapse collapse">
                {% if not is_granted('ROLE_VISITOR') %}
                
                <ul class="nav">
                    {% if is_granted('ROLE_VIEWUSER') %}
                    <li><a href="{{ path('user') }}">Usuarios</a></li>
                    {% endif %} 
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('articulo') }}">Productos<b class="caret"></b></a></li>                         
                    {% endif %}
                    {% if is_granted('ROLE_WEB') %}
                    <li><a href="{{ path('articulo') }}">Inicio<b class="caret"></b></a></li>                         
                    {% endif %}
                    
                    <li><a href="{{ path('pedido') }}">Pedidos<b class="caret"></b></a></li>                                                       
				</ul>	
				
				{% endif %}  
              			
				
				
              
                
             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                
                <ul class="nav pull-right">
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile') }}">Perfil</a></li>
                            
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Salir</a></li>
                        </ul>
                    </li>
                </ul>
             {% endif %}    
              
             
            </div><!--/.nav-collapse -->
