<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
<body>  
<div class="well">    
    <h4>Detalle de Pedido n°: {{ entity.id }} </h4>

<div class="control-group">
  <label>Fecha de creación: 
  {{ entity.createdAt |date('d-m-Y ') }}</label>
</div>

<div class="control-group">
  <label>Cliente : 
  {{ entity.getCliente.getName }}</label>
</div>

<div class="control-group">
Estado: 
{% if entity.estado.id == 1 %}                    
   <span class="label label-warning">{{ entity.estado.name }}</span>                    
{% endif %}                   
{% if entity.estado.id == 2 %}                                 
   <span class="label label-success">{{ entity.estado.name }}</span>					
{% endif %}				  
{% if entity.estado.id == 3 %}                                    
   <span class="label label-important">{{ entity.estado.name }}</span>					
{% endif %}  
<br/>	  
{% if entity.estado.getId == 2 or  entity.estado.getId == 3 %}		  
Fecha aceptada/rechazada: {{ entity.getModifiedAt |date('d-m-Y ') }}		  
{% endif %}	
</div>

</div>

<div class="well">

<label>Articulos</label>

    <table class="table">
    <thead>
    <tr>
    <th>Cantidad</th>
    <th>Codigo</th>
    <th>Descripcion</th>
    </tr>
    </thead>
    <tbody>
     {% for articulo in entity.getArticulosPedidos() %}    
     <tr>
                <td>{{ articulo.getCantidad() }}</td>
                <td>{{ articulo.getArticulo().getCodigo() }}</td>
                <td>{{ articulo.getArticulo().getName() }}</td>                       
     </tr>   
     {% endfor %}        
     </tbody>
     </table>
</div>	
</body>
</html>  
