<div class="control-group">
{{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.tipo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_tipo_errorloc' class="help-inline error" >{{ form_errors(form.tipo) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.codigo,"Codigo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.codigo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_codigo_errorloc' class="help-inline error" >{{ form_errors(form.codigo) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.nombre_fabricante,"Nombre Fabricante", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nombre_fabricante, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_nombre_fabricante_errorloc' class="help-inline error" >{{ form_errors(form.nombre_fabricante) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.nombre_interno,"Nombre Interno", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nombre_interno, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_nombre_interno_errorloc' class="help-inline error" >{{ form_errors(form.nombre_interno) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.marca,"Marca", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.marca, { 'attr': {'class': 'input-xlarge', 'data-url':  path ('modelo_marca')} }) }}
 <div id='backend_adminbundle_parte_marca_errorloc' class="help-inline error" >{{ form_errors(form.marca) }}</div>
</div>
</div>


<div class="control-group">
{{ form_label(form.modelo,"Modelo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.modelo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_modelo_errorloc' class="help-inline error" >{{ form_errors(form.modelo) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.observacion,"Observacion", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.observacion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_parte_observacion_errorloc' class="help-inline error" >{{ form_errors(form.observacion) }}</div>
</div>
</div>

